@import url('https://fonts.cdnfonts.com/css/andy-bear');
@import url('https://fonts.cdnfonts.com/css/arch-rival');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #b30946;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

nav{
    width: 100%;
    background-color: rgba(179,9,71);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.logo{
    margin-top: 100px;
    height: 300px;
    transition: 0.3s ease;
    margin-left: -100px;
}

.logo:hover{
    height: 320px
}

.navbar-list{
    display: flex;
    align-items: center;
    margin: 0 20px;
    list-style: none;
}

.navbar-list li{
    margin-left: 50px;
    transition: 0.2s ease;
}

.navbar-list li:hover{
    background-color: rgb(105, 13, 13);
    padding: 10px;
    border-radius: 10px;
}

.navbar-list li a, .navbar-list li{
    font-family: 'Andy Bear', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 20px;
    height: auto;
    width: 250px;
    background-color: #b3094728;
    border:1px solid #640a22;
    border-radius: 30px;
    margin-top: 100px;
    z-index: 999;
    display: none;
    transition: 0.5s;
}

.sidebar li{
    border-radius: 30px;
    list-style: none;
    text-align: center;
    padding: 15px 0;
    transition: 0.3s ease;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.sidebar li a{
    text-decoration: none;
    color: white;
    font-family: 'Andy Bear', sans-serif;
}

.sidebar li:hover{
    border-radius: 30px;
    background-color: #640a22;
    color: white;
}

.hero{
    height: 100vh;
}

.bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: -999;
    position: absolute;
}

.welcome-title{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-title{
    font-family: 'SF Arch Rival Extended', sans-serif;
    font-family: 'SF Arch Rival', sans-serif;
    font-size: 150px;
    color: #c86e86;
    -webkit-text-stroke: 3px #640a22;
}

.cat{
    position: absolute;
    z-index: 1;
    right: 0;
    top: -90px;
    height: 200px;
}

.container{
    position: absolute;
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    display: block;
    width: 100%;
    font-size: 40px;
    color: #b30946;
    text-align: center;
}

.about-us-text{
    position: relative;
    width: 80%;
    background-color: #98556657;
    position: relative;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;

    text-align: center;
}

.about-us-text h2{
    color: white;
    font-size: 40px;
}

.about-us-text h2 span{
    color: #b30946;
}

.about-us-text p{
    color: white;
    font-size: 22px;
    margin-top: 30px;
    line-height: 1.5;
}

.sub-title{
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

.list-packages{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 20px 50px;
}

.package-item
{
    background-color: #c86e8668;
    text-align: center;
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 20px;
}

.price{
    display: flex;
    align-items: center;
    justify-content: center;
}

.package-item h3{
    margin-top: 10px;
}

.price h2{
    margin: 20px 0;
    color: white;
    width: 80%;
    background-color: #be2057;
    border-radius: 20px;
}

.package-item ul{
    display: inline-block;
    margin: 10px 0;
}

.package-item ul li{
    color: white;
}

.ala-carte-title{
    display: block;
    width: 100%;
}

.ala-carte-items{
    width: 100%;
    display: grid;
    grid-template-columns: 65% 1fr;
    column-gap: 5px;
    padding: 20px;
}

.ala-carte-items .left{
    display: block;
    width: 100%;
}

.ala-carte-items .right{
    display: block;
    width: 100%;
    position: relative;
}

.services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
}

.service-card{
    display: grid;
    grid-template-columns: 25% 1fr;
    background-color: rgba(179, 9, 71, 0.207);
    border-radius: 20px;
    padding: 10px;
}

.service-card img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 5px;
}

.service-card .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info .title{
    color: rgb(179, 9, 70);
    font-size: 30px;
    text-transform: uppercase;
}

.info .price{
    color: whitesmoke;
    font-size: 30px;
    background-color: rgb(179, 9, 70);
    width: 80%;
    margin-top: 10px;
    border-radius: 50px;
}

.right{
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}

.right img{
    height: 100%;
}

.right .big-cat-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #ffffffd8;
    border: 3px solid #640a22;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.5rem;
}
